# output files
**.out

# error log files
**.err

# executable files
**.x
**.o

# ignore input data files in assignmnent 2 (assuming number of processors does not exceed 100)
assignment_2/input/input[0-99]*-[0-99]*.dat
assignment_2/input/mapping[0-99]*.dat 
assignment_2/input/gridsize.dat
assignment_2/input/grid[0-99]*.dat

# virtual environment
**/.venv

# vscode
.vscode

# report folder
report/build
report/figures
report/tables
